.header-top {
    background-color: rgba(248, 250, 252, 1);
    width: 100%;
    padding: 20px 0;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

.language-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-btn span {
    color: silver;
    font-size: 14px;
}

/* nav */

.catalog button {
    width: 112px;
    height: 48px;
    border-radius: 8px;
    opacity: 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(255, 3, 76, 0.12);
    color: rgba(255, 3, 76, 1);
}

.catalog button>* {
    font-size: 16px;
    font-weight: 500;

}

nav {
    margin: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

nav ul li {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.menu {
    font-size: 24px !important;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgba(217, 219, 232, 1);
    height: 48px;
    width: 600px;
    border-radius: 8px;
}

.search input {
    width: 400px;
    height: 46px;
    border-radius: 8px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
}

.search .nav-select select {
    height: 46px;
    border: none;
    width: 130px;
}

.search .nav-select select:focus {
    border: none;
    outline: none;


}

.search input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search .nav-select {
    border-left: 1px solid rgba(217, 219, 232, 1);
    border-right: 1px solid rgba(217, 219, 232, 1);
    width: 150px;
    height: 46px;
    display: flex;
    justify-content: center;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 10%;
}

.search-mobile {
    display: none;
}

.login-btn button {
    background-color: rgba(12, 164, 250, 1);
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.nav-icon {
    font-size: 23px;
}

.header-bottom-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-menu li {
    font-size: 12px;
}

.header-bottom {
    padding: 12px 10%;
}

/* defatlut */


.header-bottom-menu {
    list-style: none;
    padding: 0;
}

.header-bottom-menu li {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 14px;
}

.header-bottom-menu li.active {
    background-color: rgba(12, 164, 250, 0.1);
    padding: 10px 14px;
    border-radius: 8px;
    /* Active bo'lgan sahifadagi elementning foni qizil */
    color: rgba(12, 164, 250, 1);
}

/* header mobile */

.header-mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3333;
    width: 50%;
    display: none;
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 1px solid #DBDBDB;
}

.header-mobile-menu .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile-menu .button-group>button {
    padding: 1rem;
    border-radius: 0.25rem;
    color: #0f172a;
    background-color: transparent;
    border: none;
    /* Default background color */
}

.header-mobile-menu .button-group>button.active {
    background-color: rgba(12, 164, 250, 0.1);
    /* Active button background color */
    color: rgba(12, 164, 250, 1);
    border-radius: 8px;
    /* Text color for the active button */
    /* Border color for the active button */
}

.catalog-btn-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.catalog-btn {
    background: linear-gradient(249.36deg, #F50951 3.2%, #FD3A7E 44.56%, #FF9B06 100%);
}


@media screen and (max-width:767px) {
    .header-bottom-menu {
        display: none;
    }

    .search-icon {
        width: 15%;
    }

    .search-mobile {
        width: 100%;
        display: flex !important;
        /* justify-content: center; */
        align-items: center;
    }

    .nav-pc {
        display: none;
    }

    .header-mobile-menu {
        display: flex;
    }

    .header-mobile-menu .button-group {
        display: flex;
    }

    .nav-icon {
        font-size: 20px;
    }

    .header-bottom {
        padding: 10px 2%;
    }

    .logo img {
        width: 100px;
    }

    .catalog button {
        width: 104px;
        height: 40px;
    }

    .header-top span {
        font-size: 11px;
    }

    .catalog button>* {
        font-size: 12px;
    }

    .login-btn button {
        width: 90px;
        height: 40px;
        font-size: 14px;
    }
}