.main-detailing {
  /* position: relative; */
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;


}
img{
  object-fit: cover;
}

.detailText {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;

}


.detailTopa {
  font-size: 18px;
  color: rgba(148, 163, 184, 1);

}

.detailTopablack {
  font-size: 18px;
  color: black;
}

.detailTop {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.iphone {
  width: 490px;
  height: 488px;
  border-radius: 12px;
}

.miniphoneconteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.displey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  background: rgba(178, 183, 208, 0.3);
  overflow-y: hidden;
  overflow-x: hidden;

  top: 0px;
  right: 0px;
  /* filter: blur(4px); */
  backdrop-filter: blur(6px);

  height: 100vh;

}

.displayBTN {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 800;
}

.displayImg {
  /* transform: translate(-50%, -50%); */
  width: 490px;
  height: 488px;
  border-radius: 16px;
}

.none {
  display: none;
}

.detailTopLeft {
  display: flex;

  gap: 20px;
}

.id {
  display: flex;
  font-size: 16px;
  color: rgba(148, 163, 184, 1);
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.detailTopId {
  display: flex;
  gap: 10px;
}

.prevNext {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.changeBtn {
  width: 62px;
  height: 62px;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border: none;
  border-radius: 100%;
}

.detailTopdata {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailTop-Price {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 243px;
}

.detailTop-digrate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailTop-digrate>h1 {
  font-size: 20px;
  color: rgba(61, 61, 61, 1);
  text-decoration: line-through;
  font-weight: 400;
}

.detailTop-digrate>a {
  background: linear-gradient(249.36deg, #F50951 3.2%, #FD3A7E 44.56%, #FF9B06 100%);
  width: 44px;
  height: 24px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailTop-Price>h1 {
  color: rgba(255, 3, 76, 1);
  font-size: 32px;
  font-weight: 700;
}

.detailTop-configuration {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 5px;
}

.detailTop-configuration>h1 {

  font-size: 14px;
  font-weight: 600;

}

.detailTop-conteiner {
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  margin-bottom: 20px;
}



.detailTop-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid rgba(217, 219, 232, 1);
}

.detailTop-card>h1 {
  font-size: 14px;
  font-weight: 400;
}

.detailTop-card-color {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.detailTop-card-color:nth-child(2) {
  background-color: rgba(215, 218, 218, 1);

}

.detailTop-card-color:nth-child(3) {
  background-color: rgba(28, 110, 207, 1);

}

.detailTop-card-color:nth-child(4) {
  background-color: rgba(231, 55, 224, 1);

}

.detailTop-data-digrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 64px;
  background-color: rgba(241, 245, 249, 1);
  border-radius: 8px;
}

.detailTop-data-digrate>h1 {

  font-size: 14px;
  font-weight: 400;
  color: rgba(71, 85, 105, 1);

}

.detailTop-data-digrate>div>h1,
h2 {
  font-size: 16px;
  font-weight: 600;
}

.detailTop-data-digrate>div>h1 {
  color: red;
}

.detailTop-data-digrate>div {
  display: flex;
}

.miniphonecard {
  width: 111px;
  width: 110px;
}

.bigImg {
  position: relative;
}

.biggerBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  background-color: rgba(178, 183, 208, 0.4);
  border-radius: 4px;
  border: none;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
}

.changeBtnright {

  position: absolute;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(178, 183, 208, 0.4);
  border: none;
  border-radius: 100%;

}

.changeBtnleft {

  position: absolute;
  top: 50%;
  left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(178, 183, 208, 0.4);
  border: none;
  border-radius: 100%;

}

.MacBroText {
  display: flex;
  flex-direction: column;
}

.MacBroText>h1 {
  font-size: 14px;
  font-weight: 600;
}

.MacBroText>h2 {
  font-size: 12px;
  font-weight: 400;
  color: rgba(148, 163, 184, 1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.MacBro {
  display: flex;
  align-items: center;
  gap: 5px;
}

.MacBro>img {
  width: 40px;
  height: 40px;
}

/* .detailRightTop{
  
  } */
.detailRight {
  display: flex;
  flex-direction: column;
  width: 244px;
  height: 360px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(74, 74, 74, 0.06);
  padding: 16px;
  /* box-shadow:  rgba(74, 74, 74, 0.06); */
  box-shadow: 0px 0px 4px rgba(74, 74, 74, 0.06);
  gap: 20px;

}

.detailRightTop {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

}

.star {
  width: 24px;
  height: 23px;
  border: 1.5px;
  color: red;
  /* color: linear-gradient(249.36deg, #F50951 3.2%, #FD3A7E 44.56%, #FF9B06 100%); */
}

.star:nth-child(5) {
  color: rgb(221, 209, 209);
}

.PhoneNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(217, 219, 232, 1);
}

.PhoneNumber>h1 {
  gap: 10px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
}

.PhoneNumber>h1>p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 3, 76, 1);
  text-decoration: underline;

}

.detailRight>h1 {
  font-size: 12px;
  font-weight: 400;
  color: rgba(51, 65, 85, 1);
}

.follow {
  width: 212px;
  height: 48px;
  background-color: rgba(12, 164, 250, 1);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.detail-right-bottom {
  width: 244px;
  height: 96px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(74, 74, 74, 0.06);
  box-shadow: 0px 4px 16px rgba(74, 74, 74, 0.06);
}

.detail-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-top-data-like {
  display: flex;
  width: 269px;
  height: 48px;
  gap: 8px;
}

.like-left {
  width: 135px;
  height: 48px;
  border-radius: 8px;
  background-color: rgba(248, 250, 252, 1);
  display: flex;
  align-items: center;
  justify-content: center;

}

.like-dislike {
  width: 111px;
  height: 24px;
  display: flex;
  gap: 20px;
}

.like-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  border-right: 1px solid grey;
  padding-right: 5px;
}

.like-count>h1 {
  font-size: 14px;
  font-weight: 500;
}

.complaint {
  font-size: 16px;
  font-weight: 400;
}

.exclamation {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.detail-right-bottom-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

.detail-right-bottom-card>h1 {
  font-size: 12px;
  font-weight: 500;
  color: rgba(71, 85, 105, 1);
}

.detail-right-bottom-card>h2 {
  font-size: 12px;
  font-weight: 600;
}

.green-color {
  color: rgba(0, 191, 175, 1);
}

.detail-right-bottom-card>p {
  color: rgba(226, 232, 240, 1);
  font-size: 7px;
  display: flex;
  align-items: baseline;
}

.commit-conteiner {
  width: 708px;
  height: 456px;
  padding: 20px;

  border: 1px solid grey;
  border-radius: 8px;
}

.commit-conteiner-xarakteristika {
  width: 708px;
  /* height: 456px; */
  padding: 30px;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commit-data {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.commit-catalog {
  width: 708px;
  height: 72px;
  border-radius: 16px;
  background-color: rgba(241, 245, 249, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.commit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.commit-btn {
  width: 230px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: rgba(241, 245, 249, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.commit-btn-white {
  width: 230px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.white {
  background-color: rgba(241, 245, 249, 1);
}

.red {
  color: red;
}

.xarakteristika-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}

.dot {
  border-bottom: 1px dashed grey;
  height: 1px;
  width: 80%;
  margin-bottom: -16px;
}

.dot-mini {
  border-bottom: 1px dashed grey;
  height: 1px;
  width: 100%;
  margin-bottom: -11px;
  margin-left: 1px;

}

.xarakteristika-data>h1 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(71, 85, 105, 1);

}

.xarakteristika-data>h2 {
  font-size: 18px;
  font-weight: 600;
  /* width: 150px; */
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  text-align: end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.flex {
  display: flex;
  gap: 20px;

}

.commit-conteiner-otziv {
  width: 708px;
  height: 455px;
  padding: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otziv-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.otziv-data>img {
  width: 113px;
  height: 104px;
}

.otziv-data>h1 {
  font-size: 24px;
  font-weight: 600;
}

.otziv-data>button {
  width: 176px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 3, 76, 1);
  color: white;
}

.map {
  width: 600px;
  height: 455px;
  border-radius: 8px;
  border: 1px solid grey;
}

.detail-map {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 30px;
}

.detail-box-conteiner {
  width: 708px;
  /* height: 920px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid grey;
  padding: 30px;
}

.detail-box-card {

  display: flex;
  align-items: center;
  height: 120px;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 16px;
  /* border: 1px solid grey; */
  background-color: var(--Colors-Black-50-950-50, rgba(248, 250, 252, 1));
}

.detail-box-card-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-box-card-left>img {
  width: 66px;
  height: 68px;
  border-radius: 4px;
}

.detailBox-Price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailBox-Price>h1 {
  color: rgba(12, 164, 250, 1);
  font-size: 18px;
  font-weight: 600;
}

.detailBox-Price>h2 {
  font-size: 18px;
  font-weight: 800;
}


.detailBox-digrate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;

}

.detailBox-digrate>a {
  background: linear-gradient(249.36deg, #F50951 3.2%, #FD3A7E 44.56%, #FF9B06 100%);
  width: 32px;
  height: 20px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailBox-digrate>h1 {
  font-size: 14px;
  color: rgba(148, 163, 184, 1);
  text-decoration: line-through;
  font-weight: 400;
}

.detail-box-card-right {
  display: flex;
  gap: 10px;
}

.Olcha-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
}

.star-box>h1 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(148, 163, 184, 1);
}

.Olcha-text>h2 {
  font-size: 18px;
  font-weight: 600;
}

.detail-box-card-right>img {
  width: 48px;
  height: 48px;
}

.star-box {
  display: flex;
  align-items: center;
}

.star-detail-box {
  width: 19px;
  height: 18px;
  border: 1.5px;
  color: red;
}

.detail-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}


button {
  cursor: pointer;
}

.canon {
  width: 280px;
  height: 200px;
  border-radius: 8px;

}

.macbro-canon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 320px;
}

.macbro-canon-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.macbro-canon-left>h1 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(71, 85, 105, 1);
}


.eye-canon {
  width: 20px;
  height: 20px;
  color: rgba(71, 85, 105, 1);

}

.canon-text {
  font-size: 20px;
  font-weight: 600;
}

.canon-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 12px;
}

.canon-price>h2 {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: rgba(71, 85, 105, 1);
}

.canon-price>h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 3, 76, 1);
}

.canon-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.canon-location-card {
  width: 86px;
  height: 28px;
  border-radius: 4px;
  background-color: rgba(241, 245, 249, 1);
  display: flex;
  align-items: center;
  margin-top: 12px;
  justify-content: center;
  gap: 3px;
}

.canon-location-card>h1 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(15, 23, 42, 1);
}

.canon-location-card:nth-child(2) {



  width: 108px;
}

.conteiner-canon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.canon-card {
  position: relative;
}

.canon-new {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 21px;
  border-radius: 4px;
  background-color: rgba(255, 3, 76, 1);
}

.canon-new>h1 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.canon-like-conteiner {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(176, 176, 176, 0.46);
}

.canon-like {
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 1);

}
/* -------------------------------------------smiler--------------------------------------------------- */
.smiler-conteiner-canon{
  /* width: 266px; */
  /* height: 260px;/ */
  display: flex;
  align-items: center;
  gap: 40px;
}
.smiler{
  width: 306px;
  height: 290px;
  border-radius: 8px;
}
.smiler-card{
  position: relative;
  width: 306px;
  height: 290px;
}
.smiler-new{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 21px;
  border-radius: 4px;
  background-color: rgba(255, 3, 76, 1);
}
.smiler-new >h1{
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.smiler-price>h2 {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: rgba(71, 85, 105, 1);
}

.smiler-like-conteiner{
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(176, 176, 176, 0.46);
}
.smiler-like{
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 1);
}
.macbro-smiler{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 320px;
}
.macbro-smiler-left{
  display: flex;
  align-items: center;
  gap: 5px;
}
.macbro-smiler-left>h1 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(71, 85, 105, 1);
}
.eye-smiler{
  width: 20px;
  height: 20px;
  color: rgba(71, 85, 105, 1);
}
.smiler-text{
  font-size: 20px;
  font-weight: 600;
}
.smiler-price{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 12px;
}
.smiler-price>h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 3, 76, 1);
}
.smiler-location{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smiler-location-card{
  width: 86px;
  height: 28px;
  border-radius: 4px;
  background-color: rgba(241, 245, 249, 1);
  display: flex;
  align-items: center;
  margin-top: 12px;
  justify-content: center;
  gap: 3px;
}
.smiler-location-card>h1 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(15, 23, 42, 1);
}
.smiler-location-card:nth-child(2) {



  width: 108px;
}
.smiler-box{
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 700px;
  gap: 20px;
margin-bottom: 100px;
}
